<!DOCTYPE html>
<html>
  <head>
    <title>跳轉中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <%= favicon_link_tag 'logo.png' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
